<md-card>
  <md-card-content>
    <a layout layout-align="start center" ng-click="$ctrl.showMore = !$ctrl.showMore">
      <h2 flex>{{$ctrl.model.name}}</h2>
      <md-button class="md-icon-button"
                 ng-class="{'is-expanded': $ctrl.showMore}">
        <md-icon>expand_more</md-icon>
      </md-button>
    </a>
    <div ng-if="$ctrl.showMore && !$ctrl.isEditing">
      <h5>Description</h5>
      <p>{{$ctrl.model.description}}</p>
      <div layout layout-align="start start" layout-wrap>
        <div layout="column" flex="20">
          <h5>Cup Size</h5>
          <div>{{$ctrl.model.cupSize}}</div>
        </div>
        <div layout="column" flex="40">
          <h5>Ingredients</h5>
          <div ng-repeat="entry in $ctrl.model.ingredients">
            {{entry.name}} - {{entry.qty}}
          </div>
        </div>
        <div layout="column" flex="40">
          <h5>Feelings</h5>
          <div ng-repeat="entry in $ctrl.model.feelings">{{entry}}</div>
        </div>
      </div>
    </div>
    <form name="$ctrl.coffeeForm" ng-if="$ctrl.isEditing" layout="column" novalidate>
      <md-input-container>
        <label>Name <span class="text--warning">*</span></label>
        <input ng-model="$ctrl.model.name" ng-required="true">
      </md-input-container>
      <md-input-container>
        <label>Description</label>
        <textarea ng-model="$ctrl.model.description" columns="1" md-maxlength="100" rows="5"></textarea>
      </md-input-container>
      <md-input-container>
        <label>Cup Size <small>(S, M, L, XL)</small></label>
        <input ng-model="$ctrl.model.cupSize">
      </md-input-container>
      <md-chips ng-model="$ctrl.model.feelings"
                md-autocomplete-snap
                md-require-match="true"
                md-transform-chip="$ctrl.chipToString($chip)">
        <md-autocomplete
            md-search-text="$ctrl.feelingText"
            md-items="item in $ctrl.queryFeeling($ctrl.feelingText)"
            md-item-text="item.name"
            md-select-on-match="true"
            placeholder="Feelings...">
          <span md-highlight-text="$ctrl.feelingText">{{item.name}}</span>
          <md-not-found>No matches found.</md-not-found>
        </md-autocomplete>
      </md-chips>
      <div class="ingredient__form" layout="column">
        <h5>List of Ingredients</h5>
        <div ng-repeat="item in $ctrl.model.ingredients" layout>
          <md-input-container flex="70">
            <label>Ingredient</label>
            <input ng-model="item.name">
          </md-input-container>
          <md-input-container flex>
            <label>Qty</label>
            <input ng-model="item.qty">
          </md-input-container>
          <md-button class="md-icon-button md-warn" aria-label="Remove ingredient"
            ng-click="$ctrl.model.ingredients.splice($index, 1)">
            <md-icon>clear</md-icon>
          </md-button>
        </div>
        <md-button class="md-accent" ng-click="$ctrl.addIngredient()">+ More Ingredient</md-button>
      </div>
    </form>
  </md-card-content>
  <md-card-actions ng-if="$ctrl.showMore"layout layout-align="end center">
    <md-button class="md-warn" ng-if="!$ctrl.isEditing" ng-click="$ctrl.delete()">Delete</md-button>
    <md-button ng-if="!$ctrl.isEditing" ng-click="$ctrl.toggleEdit()">Edit</md-button>
    <md-button ng-if="$ctrl.isEditing" ng-click="$ctrl.toggleEdit()">Cancel</md-button>
    <md-button ng-if="$ctrl.isEditing"
               ng-disabled="$ctrl.coffeeForm.$invalid"
               ng-click="$ctrl.save()">Save</md-button>
  </md-card-actions>
</md-card>
