<div id="admin" layout="column">
  <md-toolbar md-whiteframe>
    <div class="md-toolbar-tools">
      <span>CoffeeCat <span ng-show="$root.$mdMedia('gt-xs')">| Behind The Scene</span></span>
      <span flex></span>
      <span ng-if="$root.$mdMedia('gt-xs')">Hi, {{ admin.user.firstName }}</span>
      <md-button class="md-warn" ui-sref="logout">Logout</md-button>
    </div>
  </md-toolbar>
  <md-tabs md-stretch-tabs="always" flex>

    <!-- Coffee Tab -->
    <md-tab label="Coffee">
      <md-content class="md-padding">
        <div layout layout-padding>
          <h2 flex>Manage Coffee</h2>
          <md-button class="md-primary" ng-click="admin.addCoffee()">+ New Coffee</md-button>
        </div>
        <div layout layout-wrap>
          <admin-coffee-card
            model="item"
            ingredient-list="::admin.ingredientList"
            on-delete="admin.deleteItem(item, $index)"
            on-save="admin.saveItem(item)"
            ng-repeat="item in admin.coffeeList"
            flex-xs="100" flex-sm="100" flex-gt-sm="50"></admin-coffee-card>
        </div>
      </md-content>
    </md-tab>

    <!-- Ingredient Tab -->
    <md-tab label="Ingredients">
      <md-content class="md-padding">
        <div layout layout-padding>
          <h2 flex>Manage Ingredients</h2>
          <md-button class="md-primary" ng-click="admin.addIngredient()">+ New Ingredient</md-button>
        </div>
        <div layout layout-wrap>
          <admin-ingredient-card
            model="item"
            on-delete="admin.deleteItem(item, $index)"
            on-save="admin.saveItem(item)"
            ng-repeat="item in admin.ingredientList"
            flex-xs="100" flex-sm="100" flex-gt-sm="50"></admin-ingredient-card>
        </div>
      </md-content>
    </md-tab>

  </md-tabs>
</div>
